<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>R0N1n-dev Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-header v-if="updateExists">
        <ion-toolbar>
          <ion-title size="small">Hello</ion-title>
          <ion-button @click="refreshApp">
            Refresh
          </ion-button>
        </ion-toolbar>
      </ion-header>

      <div id="container">
        <strong>Vue Ionic PWA</strong>
        <ion-loading v-if="isOpen"></ion-loading>
        <ion-input
          v-model="city"
          clearInput
          placeholder="Enter City"
          class="input"
          @keyup.enter.prevent="getWeather"
        ></ion-input>
        <div class="forecast" v-if="forecast !== null">
          <ion-card>
            <div style="margin-top: 1rem">
              <img :src="forecast.current.weather_icons[0]" />
            </div>
            <ion-card-content>
              {{ forecast.current.temperature }}
            </ion-card-content>
          </ion-card>

          <ion-item>
            <ion-thumbnail slot="start">
              <img :src="forecast.current.weather_icons[0]" />
            </ion-thumbnail>
            <ion-label>{{ forecast.current.temperature }}</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonInput,
  IonCard,
  IonCardContent,
  IonLoading,
  IonItem,
  IonLabel,
  IonThumbnail,
  IonButton
} from "@ionic/vue";

export default {
  name: "HomePage",
  components: {
    IonContent,
    IonHeader,
    IonInput,
    IonPage,
    IonTitle,
    IonToolbar,
    IonCard,
    IonCardContent,
    IonLoading,
    IonItem,
    IonLabel,
    IonThumbnail,
    IonButton
  },
  data: () => ({
    city: "",
    forecast: null,
    isOpen: false,
    refreshing: false,
    registration: null,
    updateExists: false,
  }),
  methods: {
    getWeather() {
      this.isOpen = true;
      fetch(
        `http://api.weatherstack.com/current?access_key=4b96230245a64c16b4600e39074a7a33&query=${this.city}`
      )
        .then((res) => res.json())
        .then((data) => {
          this.forecast = data;
          this.isOpen = false;
        });
    },
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
  created() {
    // Listen for swUpdated event and display refresh snackbar as required.
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    // Refresh all open app tabs when a new service worker is installed.
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
};
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.input {
  /*border: 1px solid grey;
  border-radius: .8rem;*/
  border-bottom: 1px solid black;
  margin: 1rem auto;
  width: 40vw;
}

.input:hover {
  border-bottom: 1.2px solid blue;
}
</style>
